<h1>New Employee</h1>

<%# <%= render 'form', employee: @employee %> %>



<%= form_with model: @employee do |form| %>
  <%= form.string :first_name %>
  <%= form.string :last_name %>
  <%= form.text :about %>

  <%= form.submit %>
<% end %>





<%= link_to 'Back', employees_path %>
