
<%= link_to 'Back', jobs_path %>

<body class="bg-light">
    

<div class="row justify-content-center">
<div class="col-md-10 col-lg-7">
<div class="container-sm border-right border-light">


    <div class="col-md-12 order-md-1 pt-5">
    <h4 class="mb-3"></h4>



           


            <!-- typogrpahy -->
            <div class="pb-5 mb-5 ">
            <div class="border rounded p-5">
            <section id="section-1">
              <h2 class="section-title"> <%= @job.title %>, <small> <%= @job.city %> </small> </h2>

             <h1 class="h2 font-weight-light"><%= @job.company.name %></h1>
                <br>
              <p> <%= @job.description  %></p> <br>
              <%# <div class="d-flex align-items-center flex-column"> %>
              
              <%= link_to "View Company profile", company_path, class: "btn btn-secondary btn-default col-sm-10 col-lg-4 mb-1" %>
              <%# <button type="button" class="btn btn-secondary btn-default col-sm-10 col-lg-3 mb-1">Apply now </button> %>
               <%= link_to "Apply now", new_job_application_path(employee_id: current_user.employee.id, job_id: @job.id), class: "btn btn-secondary btn-default col-sm-10 col-lg-3 mb-1" %>
              <%# </div> %>
              
              </div>
            </section>
            </div>

        



       



    
    </div>

</div>
</div>
</div>
</div>



